.about {
  display: flex;
  background-color: #111215;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 8% 170px;
}

.aboutRight img {
  width: 400px;
  height: 464px;
}

.aboutLeft button {
  background-color: #910a14;
  border: 0.5px solid rgb(194, 194, 194);
  color: white;
  padding: 13px 30px;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 13px;
  margin-top: 30px;
}

.aboutLeft button:hover {
  background-color: white;
  color: black;
}

.aboutLeft span {
  font-size: 18px;
  letter-spacing: 10px;
  color: #a4a7b1;
  margin-bottom: 10px;
}

.aboutLeft .title {
  font-size: 35px;
  color: rgb(170, 38, 38);
  margin-bottom: 30px;
}

.aboutLeft .abInfo {
  color: #a4a7b1;
  width: 570px;
}

.aboutRight {
  position: relative; /* Makes it the parent container for absolute positioning */
  display: inline-block; /* Ensures it wraps around the content */
}

.aboutRight img {
  display: block; /* Ensures no extra space around the image */
}

.established {
  position: absolute;
  bottom: 46px;
  left: -102px;
  background-color: white;
  padding: 25px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.established p {
  margin: 0; /* Removes default margin */
  font-size: 14px; /* Adjust font size */
  color: black; /* Text color */
}

.established span {
  font-weight: bold; /* Makes the year bold */
  font-size: 40px;
}