.gBody {
  background-color: #111215;
  color: white;
  padding: 8% 0px;
}

.heading {
  text-align: center;
}

.heading span {
  font-size: 18px;
  letter-spacing: 10px;
  color: #a4a7b1;
}

.sTitle {
  font-size: 48px;
  color: red;
}

.gImages img {
  width: 100%;
  transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  cursor: pointer;
}

.gImages img:hover {
  transform: scale(1.1);
}
